* {
    font-family: Arial, Helvetica, sans-serif;
}
  
span{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input{
     border-radius: 3px;
     border: 1px solid black;
     box-shadow: 3px 3px 5px grey;
     min-width: 60%;
     margin: 10px 10px 0px 70px;
     padding: 10px;
     display: flex;
}

 button {
    width: 60%;
    border: none;
    margin:20px 0 0 75px ;
    padding: 15px 20px;
    font-size: 16px;
    background-color: teal;
    color: #ffffff;
    cursor: pointer;
    border-radius: 3px;

 }

input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
}