* {
    font-family: Arial, Helvetica, sans-serif;
}
  
#message{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

.register{
     border-radius: 3px;
     border: 0px solid black;
     box-shadow: 3px 3px 5px grey;
     width: 100%;
     /* margin: 10px 10px 0px 70px; */
     padding: 10px;
     display: flex;
}

.register::placeholder{
  padding-left: 10px;
}

#userField {  
    display: block;
    height: 13vh; 
}

.register:focus {
    outline: 2px solid #00ccff;
}

 #submitForm {
    width: 60%;
    border: none;
    margin:20px 0 0 75px ;
    overflow: hidden;
    padding: 15px 20px;
    font-size: 16px;
    background-color: teal;
    color: #ffffff;
    cursor: pointer;
    border-radius: 3px;

 }

.register[focused="true"]{
    outline: 2px solid  #ff3333;
}

.register:invalid[focused="true"] ~ #message{
    display: block;
    margin-top: 5px;
}